$bg-color: #333;
$font-color:#fff;
$primary-color:#00e8d6;
$dark-overlay:rgba(0,0,0,0.6);
$icon-size:30px;
$bg-pink:#978592;
body{
  background:$bg-color;
  color:$font-color;
}

.navbar{
  border-bottom: $primary-color 3px solid;
  opacity:0.8;
}

#home-section {
  background:url('../img/bg-img.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }
  .bg-pink {
    background-color: $bg-pink;
  }
  .card-form {
    opacity:0.8;
  }
  .fa {
    color: $primary-color;
    background: #fff;
    border-radius: 3px;
    font-size: $icon-size;
  }
}

#explore-section {
  .fa {
    color:$font-color;
    background: $bg-color;
    padding:4px;
    border-radius: 3px;
    font-size: $icon-size;
  }
}